:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--Light_gray);
  color: var(--Grayish_blue);
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  width: 32rem;
  margin: 15.2rem auto;
  padding: 1.5rem;
  background-color: var(--White);
  border-radius: 2rem;
}

.qr-box img {
  width: 100%;
  border-radius: 1rem;
}

.text-box {
  text-align: center;
  padding: 2rem;
}

.title-text {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: var(--Dark_blue);
}

.attribution {
  text-align: center;
}
